body{
	width: 1440px;
	margin: 0 auto;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: block;
	clear: both;
}
.container{
	width: 960px;
	margin: 0 auto;
}

/****HEADER****/

.menu{
	position: fixed;
	background: #f7fdfe;
	width: 100%;
	margin: 0 auto;
}	
.top-nav{
	height: 80px;
}
.logo{
	float: left;	
}
.logo-link{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: gray;
	font-size: 22px;
	padding: 10px 0;
	margin: 15px 0;
}
.nav{
	float: right;

}
.nav-list-item{
	float: left;
}
.nav-list-item-link{
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	text-transform: uppercase;
	color: gray;
	padding: 10px;
	margin-top: 20px;
	margin-right: 5px;
}
.nav-list-item-link:hover{
	border-bottom: 1px solid #0ebfdd;
}
.sign-in{
	margin-left: 25px;
	padding: 10px 25px;
	border-radius: 15px;
	background-color: #0ebfdd;
	color: white;

}
.sign-in:hover{
	padding: 10px 25px;

	border-radius: 15px;
	background-color: #0ebfdd;
	color: gray;

}
/****HEADER_END****/
/****INTRO***/
.intro{
	height: 600px;
	background-image: url(../img/pic1.png);
}
.intro-heading{
	padding-top: 400px;
	text-align: center;
	font-size: 30px;
	color: white;
}
.intro-text{
	padding-top: 35px;
	margin: 0 80px;
	text-align: center;
	color: white;
}
/***INTRO_END***/
/****ABOUT****/
.about-heading{
	padding-top: 70px;
	text-align: center;
	font-size: 30px;
	color: #0ebfdd;
}
.about-text{
	padding-top: 35px;
	padding-bottom: 75px;
	margin: 0 80px;
	text-align: center;
}
/***ABOUT_END***/
/***TEAM****/
.team{
	background-color: #0ebfdd;
	/*height: 600px;*/
}
.team-heading{
	padding-top: 60px;
	padding-bottom: 105px;
	text-align: center;
	font-size: 30px;
	color: white;
}
.team-member{
	margin: 0 170px;
}
.team-member-list-item{
	float: left;
	margin-right: 85px;
}
.team-member-list-item:last-child{
	margin-right: 0;
}
.team-member-name,
.team-member-position{
	color: white;
	text-align: center;
	padding-top: 5px;
}
.team-button{
	margin-top: 105px;
	padding-bottom: 65px;
	text-align: center;
}
.team-btn{
	display: inline-block;
	padding: 10px 40px;
	border: 1px solid white;
	border-radius: 15px;
	background-color: transparent;
	color: white;
}
/****TEAM-END***/
/***MAP****/
.map{
	height: 600px;
	background-image: url(../img/pic2.png);
	position: relative;
}
.img-hint{
	position: absolute;
	display: inline-block;
	margin-left: 375px;
	margin-top: 190px;
}
.hint-inf{
	display: inline-block;
	color: gray;
	line-height: 1.5;
	position: absolute;
	margin-left: 385px;
	margin-top: 195px;
	
}
.hint-mail{
	color: white;
}
.point-gr1{
	position: absolute;
	display: inline-block;
	margin-left: 725px;
	margin-top: 165px;
}
.point-gr2{
	position: absolute;
	display: inline-block;
	margin-left: 520px;
	margin-top: 445px;
}
.point-bl{
	position: absolute;
	display: inline-block;
	margin-left: 385px;
	margin-top: 285px;
}
/****MAP-END****/
/***FOOTER***/
.footer{
	background-color: #45494d;

}
.footer-float{
	/*padding-top: 20px;
	padding-bottom: 20px;*/
}
.footer-link{
	display: inline-block;
	float: left;
	text-decoration: none;
	color: white;
	padding-top: 20px;
	padding-bottom: 35px;
	margin-right: 30px;
}
.footer-icons{
	float: right;
}
.footer-icon{
	float: left;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-right: 5px;
}
.footer-icon{
	margin-right: 0;
}
.footer-bottom-list{
	float: right;
}
.footer-bottom-item{
	float: left;
	color: gray;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid gray;
}
.footer-bottom-item:last-child{
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}
/***FOOTER-END***/